<!DOCTYPE html>
<html>
  <head>
    <title>ASDF</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Contrail+One|Open+Sans|Pacifico|Nova+Mono" rel="stylesheet">
  </head>
  <body>
      <div class='container'>
          <div class='text header'>about me</div>
          <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum ullamcorper lacus eget malesuada. Nam accumsan blandit hendrerit. Etiam eros odio, viverra vel condimentum vitae, congue quis orci. Donec faucibus elit eros, a vehicula tellus convallis vitae. Integer hendrerit dignissim sapien a dignissim. Donec aliquam nisl imperdiet libero porttitor suscipit. Nunc ipsum sapien, efficitur quis nisl eget, convallis fringilla ex. Vivamus blandit, leo sit amet mattis finibus, tellus ante aliquam ipsum, nec elementum purus turpis in turpis. Ut varius pellentesque lectus vitae maximus.
          </div>
          <div id='links-small' class='text links'>
              <a href='/'>home</a> /
              <a href='/work'>work</a> /
              <a href='https://www.dropbox.com/s/glpwwxwfbv8od95/Cherry_Resume_2018.pdf'>resume</a>
          </div>
      </div>
  </body>
</html>
