<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Contrail+One|Open+Sans|Pacifico|VT323|Nova+Mono" rel="stylesheet">
  </head>
  <body>
    <div class=container>
        <div id=intro class=text>hello world, my name is</div>
        <div id=name>Cherry Zou</div>
        <div class='text links'>
            <a href='/about'>about</a> /
            <a href='/work'>work</a> /
            <a href='https://www.dropbox.com/s/glpwwxwfbv8od95/Cherry_Resume_2018.pdf'>resume</a>
        </div>
    </div>
  </body>
</html>
